.viz-widget-produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    align-items: flex-start;
}

/* Para garantir que a última linha tenha alinhamento consistente */
.viz-widget-produtos::after {
    content: "";
    flex: 0 1 calc(33.333% - 20px);
}

@media (max-width: 1024px) {
    .viz-widget-produtos {
        flex-wrap: wrap;
        margin-top: 50px;
        justify-content: center;
    }
}

.viz-widget-produtos li {
    flex-basis: calc(33.333% - 20px);
    flex-grow: 0;
    max-width: calc(33.333% - 20px);
    list-style-type: none;
}
@media screen and (max-width: 768px) {
    .viz-widget-produtos li {
        flex-basis: calc(100% - 20px) !important;
        max-width: calc(100% - 20px) !important;
        justify-content: center !important;
    }
}
.viz-widget-produtos span.onsale {
    display: none;
}

.viz-widget-produtos img {
    width: 407px;
    height: 485px;
}

.viz-widget-produtos a h2 {
    /* title */
    font-family: 'Ogg TRIAL';
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    color: #000000;
}

.viz-widget-produtos span.price {
    /* price */
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #000000;
}

.viz-widget-produtos a.add_to_cart_button {
    display: none;
}

.viz-widget-produtos .woocommerce-loop-product__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.viz-widget-produtos .viz-comprar-button {
    width: 100%;
    background-color: #2D0065;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 28px;
    padding: 7px;
    opacity: 0;
}

@media (max-width: 768px) {
    .viz-widget-produtos .viz-comprar-button {
        opacity: 1;
        width: 407px;
    }
}

.viz-widget-produtos .viz-comprar-button:hover {
    background-color: #160131;
}

.viz-widget-produtos .woocommerce-loop-product__link:hover {
    .viz-comprar-button {
        opacity: 1;
    }
}

.produtos-recentes-session {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin: 40px 0;
}
.produtos-recentes-content {
    width: 95%;
    max-width: 1200px;
}
.produtos-recentes-content a {
    box-shadow: none;
    text-decoration: none;
}
@media (max-width: 576px) {
    .produtos-recentes-content {
        width: 90%; /* Um pouco menos de largura em mobile */
    }
}
h3.produtos-recentes {
    font-family: 'Ogg TRIAL', serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}
